.bg-images {
  text-align: center;
  background-color: #f3f3f3; 
}
.bg-images img {
  width: 800px;
  object-fit: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-head-of-products {
  color: black;
  padding-top: 100px;
  text-align: center;
}

.colored-word, .colored-word-bigger-size {
  color: #f84258;
}

.colored-word-bigger-size {
  font-size: 35px;
}

.bigletter {
  font-size: 80px;
}

.header-categories {
  text-align: center;
  padding-top: 200px;
  font-size: 23px;
  color: black;  
}

.info-of-head {
  text-align: center;  
}

.products-hr, .hr-of-cart-head, .last-hr-of-product {
  border: 1px solid black;
}

.products-hr {
  width: 100%;
}

.hr-of-cart-head {
  width: 120px;
}

.last-hr-of-product {
  width: 70%;
}

.kurti, .western, .heels, .g-shoes, .shirts, .shoes, .joggers, .jeans {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-left: 50px;
}

@media screen and (max-width: 974px) {
  .kurti, .western, .heels, .g-shoes, .shirts, .shoes, .joggers, .jeans {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn-of-img {
  border: none;
  position: absolute;
  cursor: pointer; 
}

.sry-msg {
  color: black;
  text-align: center;
  padding-bottom: 20px;
}

.cart-details {
  padding-left: 50px;
}
.cart-details li {
  list-style-type: decimal;
}

.head-of-cart {
  color: #f84258;
}

.msg-ps {
  color: black;
}

.btn-clear-list {
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s ease; 
  background: none;
  border: none;
}
.btn-clear-list:hover {
  background-color: #ece3e3;
}

.ul_pr li {
  font-size: 18px;
}

img {
  cursor: pointer;
}
